<div >
    <table border= "1" class="flightTable">
        <tr>
          <th>Airline</th>
          <th colspan="1">Destination</th>
          <th colspan="1">Departure Date</th>
          <th colspan="1">Departure Time</th>
          <th colspan="1">Arrival Date</th>
          <th colspan="1">Arrival Time</th>
          <th colspan="1">Covid Travel Restriction</th>
        </tr>
        <tr>
          <td style="text-align: center;">Delta</td>
          <td style="text-align: center;">Atlanta</td>
          <td style="text-align: center;">11/20/2020</td>
          <td style="text-align: center;">09:00:00</td>
          <td style="text-align: center;">11/20/2020</td>
          <td style="text-align: center;">12:00:00</td>
          <td style="text-align: center;">NO</td>
        </tr>
        <tr>
            <td style="text-align: center;">Delta</td>
            <td style="text-align: center;">New York City</td>
            <td style="text-align: center;">11/23/2020</td>
            <td style="text-align: center;">09:00:00</td>
            <td style="text-align: center;">11/23/2020</td>
            <td style="text-align: center;">12:00:00</td>
            <td style="text-align: center;">YES</td>
          </tr>
          <tr>
            <td style="text-align: center;">United</td>
            <td style="text-align: center;">Las Vegas</td>
            <td style="text-align: center;">11/25/2020</td>
            <td style="text-align: center;">13:00:00</td>
            <td style="text-align: center;">11/25/2020</td>
            <td style="text-align: center;">15:00:00</td>
            <td style="text-align: center;">YES</td>
          </tr>
          <tr>
            <td style="text-align: center;">Southwest</td>
            <td style="text-align: center;">Denver</td>
            <td style="text-align: center;">11/27/2020</td>
            <td style="text-align: center;">06:00:00</td>
            <td style="text-align: center;">11/27/2020</td>
            <td style="text-align: center;">11:00:00</td>
            <td style="text-align: center;">NO</td>
          </tr>
          <tr>
            <td style="text-align: center;">Southwest</td>
            <td style="text-align: center;">New York City</td>
            <td style="text-align: center;">11/21/2020</td>
            <td style="text-align: center;">15:00:00</td>
            <td style="text-align: center;">11/21/2020</td>
            <td style="text-align: center;">17:00:00</td>
            <td style="text-align: center;">YES</td>
          </tr>
          <tr>
            <td style="text-align: center;">American</td>
            <td style="text-align: center;">Las Vegas</td>
            <td style="text-align: center;">11/27/2020</td>
            <td style="text-align: center;">09:00:00</td>
            <td style="text-align: center;">11/27/2020</td>
            <td style="text-align: center;">12:00:00</td>
            <td style="text-align: center;">NO</td>
          </tr>
          <tr>
            <td style="text-align: center;">Delta</td>
            <td style="text-align: center;">Atlanta</td>
            <td style="text-align: center;">11/20/2020</td>
            <td style="text-align: center;">09:00:00</td>
            <td style="text-align: center;">11/20/2020</td>
            <td style="text-align: center;">12:00:00</td>
            <td style="text-align: center;">YES</td>
          </tr>
          <tr>
            <td style="text-align: center;">Delta</td>
            <td style="text-align: center;">Seattle</td>
            <td style="text-align: center;">11/20/2020</td>
            <td style="text-align: center;">07:00:00</td>
            <td style="text-align: center;">11/20/2020</td>
            <td style="text-align: center;">13:00:00</td>
            <td style="text-align: center;">YES</td>
          </tr>
      </table>
</div>
